<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Manager Dashboard</title>
  </head>
  <body>
    <nav style="text-align: right; margin: 10px">
      <form
        method="post"
        action="{{ url_for('logout') }}"
        style="display: inline"
      >
        <button type="submit">Log Out</button>
      </form>
    </nav>
    <h2>Welcome, {{ username }}!</h2>
    <h3>Your Restaurants:</h3>
    {% if restaurants %}
    <ul>
      {% for restaurant in restaurants %}
      <li>
        <a
          href="{{ url_for('restaurant_page', restaurant_id=restaurant.restaurant_id) }}"
        >
          {{ restaurant.restaurant_name }} - {{ restaurant.cuisine_type }} </a
        ><br />
        Address: {{ restaurant.address.address}}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>You have no restaurants.</p>
    {% endif %}
  </body>
</html>
